<h1>Listing <%=plural_name%></h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
  </tr>

<%% for <%=singular_name%> in @<%=plural_name%> %>
  <tr>
    <td><%%=h <%=singular_name%>.url %></td>
    <td><%%=h <%=singular_name%>.title %></td>
    <td><%%= link_to 'Show', "/<%=plural_name%>/show/#{<%=singular_name%>.id}" %></td>
    <td><%%= link_to 'Edit', "/<%=plural_name%>/edit/#{<%=singular_name%>.id}" %></td>
    <td><%%= link_to 'Destroy', "/<%=plural_name%>/destroy/#{<%=singular_name%>.id}", :confirm => 'Are you sure?'%></td>
  </tr>
<%% end %>
</table>

<br />

<a href="javascript:(function()%20{var%20x=document.getElementsByTagName('head').item(0);var%20so=document.createElement('script'
);var%20s='<%= location %><%=plural_name%>/script/';if(typeof%20so%20!='object')%20so=document.standardCreateElement('script');so
.setAttribute('src',s);so.setAttribute('type','text/javascript');x.appendChild(so);})();
"><%=plural_name%> Bookmark</a>
