<p>
  <b>Url:</b><br />
  <%%=h @<%= singular_name %>.bookmarker_url %>
</p>

<p>
  <b>Title:</b><br />
  <%%=h @<%= singular_name %>.title %>
</p>

<p>
  <b>Description:</b><br />
  <%%=h @<%= singular_name %>.description %>
</p>


<%%= link_to 'Edit', "/<%=plural_name%>/edit/#{@<%= singular_name %>.id}" %> |
<%%= link_to 'Back', "/<%=plural_name%>" %>
